/*Auth modal*/
.auth-form{
    width: 500px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    color: brown;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color:rgb(5, 31, 22);
    cursor: pointer;
}
.auth-form__form{

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid rgb(76, 173, 180);
}
.auth-form__control{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.auth-form__control-back{
    margin-right: 10px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: 16px;
    color: rgb(0, 72, 255);
}
/*Butoon style*/
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(26, 144, 144);
}
.btn.btn--primary{
    color:rgba(30, 91, 144, 0.434);
    background-color: rgb(14, 65, 77);
    color:var(--white-color);
}
.btn.btn--disabled{
    color: #ccc;
    cursor: default;
    background-color: #666;
}